<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1>Welcome to Padel Tool</h1>
 
  <a href="/players">Display the rankings</a>
  <a href="/matches">Log a match</a>
</body>
</html>